@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,
body {
    background: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
